 .jobs{
	display: flex;
	margin-bottom: 20px;
}

.jobs{
    padding: 20px;
    display: block;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 10px 10px 5px #aaaaaa;
    column-gap: 5px;
}

.jobs .item{
    
    padding: 40px;
    display: block;
}
.jobs .item{
	
	
	padding: 25px;
	font-size: 14px;
	line-height: 22px;
}

.item_wrap .item:first-child{
	margin-right: 20px;
}


/* new */
.jobs .item .head ul li{
    display: inline;
    text-decoration: none;
    padding: 15px;
}

button{
    float: right;
    margin-right: 10px;
    background-color: darkblue;
    color: white;
    padding: 5px;
    width: 120px;
    border-radius: 2px solid darkblue;
}

.jobs .item .head .companyName span{
    color:#b4ede2;
    font-size: 25px;
}
.jobs .item .head .companyName{
    
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.jobs .item .head .jobProfile{
    margin-left: -20px;
    font-weight: bold;
    font-size: 20px;
    color: #1b6ebf;
    text-transform: uppercase;
}

.jobs .item ul{
    margin-left: -30px;
    padding-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    
}

.jobs .item .keySkill span{
    color: #1b6ebf;
    padding-right: 10px;
    text-transform: uppercase;
    
    
}
.jobs .item .jobDescription{
    padding-top: 10px;
    text-align: justify;
}


.jobs .item .jobDescription span{
    color: #1b6ebf;
    
    text-transform: uppercase;
    
    
}

.jobs .item svg{
    color: #1b6ebf;
}


     