

<div class="wrapper">

	<div class="top_navbar">
		<div class="logo">
			<a href="#"><span>Needy</span>In</a>
		</div>
		<div class="top_menu">

			<div class="right_info">
				<div class="icon_wrap">
					<div class="icon">
						<i class="fa fa-bell"></i>
					</div>
				</div>
				<div class="icon_wrap">
					<div class="icon">
						<i class="fa fa-cog"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main_body">
		
		<div class="sidebar_menu">
	        <div class="inner__sidebar_menu">
	        	
	        	<ul>
		          <li>
		            <a href="#">
		              <span class="icon">
		              	<i class="fa fa-user-circle"></i></span>
		              <span class="list">Profile Overview</span>
		            </a>
		          </li>
		          <li>
		            <a href="#" class="active">
		              <span class="icon"><i class="fa fa-edit"></i></span>
		              <span class="list">Edit Profile</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fa fa-bookmark"></i></span>
		              <span class="list">Applied Jobs</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fa fa-list"></i></span>
		              <span class="list">Latest Jobs</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fa fa-search"></i></span>
		              <span class="list">search Jobs</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fa fa-chart-line"></i></span>
		              <span class="list">Activities</span>
		            </a>
              </li>
              <li>
		            <a href="#">
		              <span class="icon"><i class="fa fa-cog"></i></span>
		              <span class="list">Settings</span>
		            </a>
		          </li>
		        </ul>
<!-- 
		        <div class="hamburger">
			        <div class="inner_hamburger">
			            <span class="arrow">
			                <i class="fas fa-long-arrow-alt-left"></i>
			                <i class="fas fa-long-arrow-alt-right"></i>
			            </span>
			        </div>
			    </div> -->

	        </div>
	    </div>

      <div class="container">
        <app-jobs></app-jobs>
    </div>
	    
	</div>
</div>


<router-outlet></router-outlet>